<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SFDC Selenium">
<parameter name="Browsername" value = "chrome"/>
  <test name="LoginPage">
      <classes>
      <class name="com.sfdc.training.test.login.LoginTest"/>
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->